<!-- Page Header -->
<main class="bs-docs-masthead" role="main">
  <div class="container">
    
    <img alt="We.js logo" src="/theme/assets/images/we-logo-inverse.png">
 
    <p class="lead">We.js is a node.js single-page application Framework for create awesome real time applications, sites or blogs at light speed!</p>
    <p class="lead">
      <a href="getting-started#download" class="btn btn-outline-inverse btn-lg" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 0.2.x');">Download We.js</a>
    </p>
  </div>
</main>

<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">We.js makes building web applications simpler, faster and require less code</h2>
    <p class="lead">Is distributed in small modules that together form a system as a blog or an application.</p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <h3>Plugins</h3>
        <p>Extends we.js projects with new client and server side features, see avaible plugins in <a alt="We.js plugins" href="https://github.com/wejs?query=plugin">link</a></p>
      </div>
      <div class="col-sm-4">
        <h3>Themes</h3>
        <p>Beautiful themes for create awesome application. Themes has power to extend default plugin templates</p>
      </div>

      <div class="col-sm-4">
        <h3>Generators</h3>
        <p>Generate one functional project structure in seconds with <a alt="We.js plugins" href="https://github.com/wejs/generator-wejs">we.js generator</a>.</p>
      </div>

    </div>

    <hr class="half-rule">

    <p class="lead">We.js and related modules is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="https://github.com/wejs/we" class="btn btn-outline btn-lg">View the GitHub project</a>
  </div>
</div>