<div class="row regions">
  {{#region 'highlighted' class="col col-md-12"}}{{/region}}

  <div id="page-wrapper">
    <div class="row">
      <div class="content">{{{body}}}</div>
      <div id="footer" class="col col-md-12"></div>
    </div>
  </div>
</div>