<div id="ember638" class="ember-view"><div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a id="ember657" class="ember-view navbar-brand active" href="/">
        <img class="img-responsive navbar-logo" src="/core/images/logo.png" data-bindattr-695="695">
        <%- /*sails.config.clientside.publicVars.appName*/ %> 
      </a>

      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul id="ember670" class="ember-view nav nav navbar-nav">
  <li>
    
      
        
          <a id="ember710" class="ember-view active" href="/"> 
            <span id="ember718" class="ember-view">Home</span>
          </a>
        
      
    
  </li>

  <li>
    
      
        <a id="ember723" class="ember-view" href="/article/1">
          <span id="ember754" class="ember-view">Get started</span>
        </a>
      
    
  </li>

  <li>
    
      
        <a id="ember759" class="ember-view" href="/article/1">
          <span id="ember761" class="ember-view">Features</span>
        </a>
      
    
  </li>

  <li>
    
      <a href="https://github.com/wejs/we" data-bindattr-765="765" target="_blank" data-bindattr-766="766">
        <span id="ember767" class="ember-view">Github</span>
      </a>
    
  </li>
</ul>

      

      <ul class="nav navbar-nav navbar-right">
        
        
          
            <li id="ember779" class="ember-view">
        <a href="/login"  class="btn navbar-login-buttom navbar-btn">
  <span class="glyphicon glyphicon-log-in"></span> Entrar
</a>

</div></li>
          
          <li>
            <a id="ember771" class="ember-view  navbar-login-buttom navbar-btn" href="/signup">
              <i class="glyphicon glyphicon-plus"></i>
              <i class="glyphicon glyphicon-user"></i>
               Registrar
            </a>
          
        </li>
      </ul>

    </div>
  </div>
</div>


<!-- Navigation -->


<!-- Page Header -->
<main class="bs-docs-masthead" role="main">
  <div class="container">
    
    <img alt="We.js logo" src="/theme/assets/images/we-logo-inverse.png">
 
    <p class="lead">We.js is a node.js single-page application Framework for create awesome real time applications, sites or blogs at light speed!</p>
    <p class="lead">
      <a href="/article/1" class="btn btn-outline-inverse btn-lg">Download We.js</a>
    </p>
  </div>
</main>

<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">We.js makes building web applications simpler, faster and require less code</h2>
    <p class="lead">Is distributed in small modules that together form a system as a blog or an application.</p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <h3>Plugins</h3>
        <p>Extends we.js projects with new client and server side features, see avaible plugins in <a alt="We.js plugins" href="https://github.com/wejs?query=plugin">link</a></p>
      </div>
      <div class="col-sm-4">
        <h3>Themes</h3>
        <p>Beautiful themes for create awesome application. Themes has power to extend default plugin templates</p>
      </div>

      <div class="col-sm-4">
        <h3>Generators</h3>
        <p>Generate one functional project structure in seconds with <a alt="We.js plugins" href="https://github.com/wejs/generator-wejs">we.js generator</a>.</p>
      </div>

    </div>

    <hr class="half-rule">

    <p class="lead">We.js and related modules is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="https://github.com/wejs/we" class="btn btn-outline btn-lg">View the GitHub project</a>
  </div>
</div>

<!-- Footer -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <p>Built with a log of work and love by <a href="https://twitter.com/mdo" target="_blank">@albertosouza</a>.</p>
    <p>Maintained by the <a href="https://github.com/orgs/wejs/people">core team</a>.</p>
    <p>Code licensed under MIT.</p>
    <p>Theme from <a href="http://bootswatch.com/sandstone/">bootswatch</a> and bootstrap docs</p>
    <br>

    <ul class="list-inline text-center">
    
      <li>
        <a target="_blank" href="https://twitter.com/we_js" data-bindattr-823="823">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    
    
    
      <li>
        <a target="_blank" href="https://github.com/wejs/we" data-bindattr-826="826">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    
    </ul>
    <p class="copyright text-muted">
      Copyleft, <strong>We.js site</strong> 2014
      - <a href="http://wejs.org">We.js powered!</a>
    </p>
  </div>
</footer>

<div id="ember693" class="ember-view"><!-- Modal avatarChangeModal -->
<div class="modal" id="avatarChangeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

<form id="avatar-upload" class="form-upload-avatar" name="uploadAvatarForm">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Mudar foto</h4>
  </div>
  <div class="modal-body">
    <div class="row"><div class=" col-lg-offset-2 col-lg-8">
      
        <div class="form-group">
        <br><br>
          <div class="form-controll file-uploader">
            <div class="col-md-8">
              <input id="ember838" class="ember-view ember-text-field" type="file" accept="image/x-png, image/gif, image/jpeg" multiple="false">
            </div>
          </div>
        </div>
      
    </div></div>
  </div>
  <div class="modal-footer">
    
      <button class="btn btn-primary" type="buttom" data-ember-action="840">Selecionar imagem</button>
    
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  </div>
</form>
    </div>
  </div>
</div></div></div>