<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <div class="bs-docs-social">
      <ul class="bs-docs-social-buttons">
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=wejs&amp;repo=we&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
        </li>
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=wejs&amp;repo=we&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
        </li>
        <li class="follow-btn">
          <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.a5bbbb7216610af1306d56b0f28a67d7.en.html#_=1424192283453&amp;dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=we_js&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 240px; height: 20px;"></iframe>
        </li>
      </ul>
    </div>


    <p>Built with a lot of work and love by <a href="https://twitter.com/mdo" target="_blank">@albertosouza</a>.</p>
    <p>Maintained by the <a href="https://github.com/orgs/wejs/people">core team</a>.</p>
    <p>Code licensed under MIT.</p>
    <p>Theme from <a href="http://bootswatch.com/sandstone/">bootswatch</a> and bootstrap docs</p>
    <br>

    <ul class="list-inline text-center">
    {{#if socialLinks.twitter}}
      <li>
        <a target="_blank" {{bind-attr href=socialLinks.twitter}}>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {{/if}}
    {{#if socialLinks.facebook}}
      <li>
        <a target="_blank" {{bind-attr href=socialLinks.facebook}}>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {{/if}}
    {{#if socialLinks.github}}
      <li>
        <a target="_blank" {{bind-attr href=socialLinks.github}}>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    {{/if}}
    </ul>
    <p class="copyright text-muted">
      {{t 'app.copyright' appNameBinding="configs.client.publicVars.appName"}}
      - <a href="http://wejs.org">We.js powered!</a>
    </p>
  </div>
</footer>